extends layout

block content
	div(class="user")
		| Hello #{user.displayName} [
		a(href="/logout") Logout
		| ]
	div(class="cart")
		span Items purchased:
		span(id="itemsBought")=0
	div(class="deal")
		span(id="receiver")=counter
		p(id="lastdeal") Items available
		button(type="submit", name="op", value="s", id="sender") Get it, get it now!
	div(id="log")